/* Elements */
img {
    max-width:100%;
}

h1, h2 {
    font-weight:800;
    color: #FFE791;
    background: #FFE791;
    background: linear-gradient(180deg, #FFE791 0%, #FFB200 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* UI */

::-webkit-scrollbar {
    margin: 8px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255,255,255,0.9);
}

/* Structure */

body {
    display:flex;
    flex-direction:column;
    margin:0;
    width:100vw;
    min-height:100vh;
    color: #fff;
    background: #039DFD;
    text-shadow:1px 1px 2px rgba(0,0,0,0.7);
}

header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:480px;
    background-color: #aaf6f2;
    background: linear-gradient(180deg, #09d1ff 0%, #aaf6f2 100%);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

header img {
    width: 720px;
}

main {
    flex:1;
    padding:40px;
    background: linear-gradient(180deg, #43B9F0 0%, #039DFD 100%);
    background-repeat:no-repeat;
    background-size: 100% 80px;
}

/* SFX */

.sfx-group>div {
    display: none;
}

h2 {
    border-bottom: 1px solid goldenrod;
    font-size: 18px;
    font-weight: 600;
    color: goldenrod;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0 0 32px;
}

li {
    padding: 4px;
}

li:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.05);
}

span {
    font-style: italic;
    color: rgba(255,255,255, 0.75);
}

pre {
    display: inline-block;
    margin: 0;
    padding: 4px;
    font-family: "Consolas", serif;
    font-size: 16px;
    color: aqua;
    background: rgba(0,0,0,0.7);
    cursor: pointer;
}

pre:hover {
    background: #466;
}

pre:active {
    background: #699;
}
