/* Elements */
img {
    max-width:100%;
}

/* Structure */

body {
    display:flex;
    flex-direction:column;
    margin:0;
    min-width:100vw;
    min-height:100vh;
    background: #039DFD;
}

header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:480px;
    background-color: #aaf6f2;
    background: linear-gradient(180deg, #09d1ff 0%, #aaf6f2 100%);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

header img {
    width: 720px;
}

main {
    flex:1;
    padding:40px;
    background: linear-gradient(180deg, #43B9F0 0%, #039DFD 100%);
    background-repeat:no-repeat;
    background-size: 100% 80px;
}
