/* Elements */
img {
    max-width:100%;
}

/* Structure */

body {
    display:flex;
    flex-direction:column;
    margin:0;
    min-width:100vw;
    min-height:100vh;
    background: #09d1ff;
    background: linear-gradient(180deg, #09d1ff 0%, #aaf6f2 50%);
    background-size: 100vw 100vh;
}

header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:480px;
}

header img {
    width: 400px;
}
