@import "../common.min.css";

body {
    position: relative;
    background: none;

    &:before,
    &:after {
        content: "";
        position: fixed;
    }

    &:before {
        top: 4vw;
        left: 4vw;
        width: 5vw;
        height: 5vw;
        background: url("sun.png") no-repeat center center / 100% auto;
        animation: SunHover 2s linear infinite;
    }

    &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f07840 url("bg.png") repeat-x bottom left / 100vw auto;
        z-index: -1;
        animation: BGScroll 50s linear infinite;
    }
}

@keyframes BGScroll {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -100vw;
    }
}

@keyframes SunHover {
    0% {
        top: 4vw;
    }

    50% {
        top: 5vw;
    }

    100% {
        top: 4vw;
    }
}

#chatwrap > *,
#videowrap > *,
.navbar,
footer {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar {
    border: none;
    background-image: none !important;

    .navbar-brand {
        font-size: 0;
        width: 200px;
        background-image: url("logo.png");
        background-size: 90% auto;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .navbar-nav > li > a {
        border: none;
    }
}
