/* modified 1/2/2019 1:18am */
:root {
	--alert-font-size: 7vh;
	--border-size: 4vh;
	--box-padding: 1.6vh 5vh 2vh;
	--box-height: 18vh;
	--bullet-pos: 1vh 1.4vh;
	--bullet-height: 8.6vh;
	--you-win-font-size: 7vh;
	--user-message-font-size: 4vw;
	--enemy-pos: calc(var(--border-size) * 2 + var(--box-height));
	--enemy-padding: 4vw;
	--enemy-height: calc(100vh - var(--enemy-pos));
	--small-enemy-size: 22vw;
	--small-enemy-pos: 10vw;
	--medium-enemy-size: 16vw;
	--medium-enemy-pos: 0vw;
	--large-enemy-size: 44vh;
	--large-enemy-pos: 2vw;
}

#all-wrapper {
	background:pink
}

body {
	margin:0;
}

#container {
	display:none;
	flex-direction: column;
	align-items:center;
	width:100vw;
	height:100vh;
	background: pink;
}

.text-box {
	width: 100%;
	min-height: var(--box-height);
	padding: var(--box-padding);
	box-sizing:border-box;
	font-family: 'Orange Kid', sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: var(--alert-font-size) !important;
	line-height: var(--alert-font-size) !important;
	color: #E8E5B3;
}

.alert-message.you-win {
	font-size: var(--you-win-font-size) !important;
	line-height: var(--you-win-font-size) !important;
	font-weight: 700 !important;
	text-align: center;
	text-transform: uppercase;
	color: #7959F9 !important
}

.alert-message>span>span {
	display: inline-block
}
.alert-image-wrap, .alert-text-wrap {
	display:none !important;
}
.alert-user-message {
	display: none;
	font-size: var(--user-message-font-size) !important;
	line-height: var(--user-message-font-size) !important;
	text-align: center
}

.alert-user-message:empty {
	padding: 0 !important
}

.message-wrapper {
	position: relative;
	width: 100%;
	box-sizing:border-box;
	max-width: 100vh;
	box-sizing: border-box;
	color: #E8E5B3;
	border:var(--border-size) solid transparent;
	border-image: url(eb-border-mint.png) 33.333333% stretch;
	background-size: auto var(--bullet-height);
	image-rendering: pixelated;
	z-index: 10
}

.alert-text {
	background: url(eb-border-mint-bullet.png) var(--bullet-pos) no-repeat #290829;
	height:inherit;
}

.text-wrap.no-bullet {
	background-image: none
}

.enemy-wrapper {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.attack-image {
	position: absolute;
	left: 0;
	z-index: 9
}

.attack-image img {
	max-width: 100%;
	max-height: 100%;
}

.alert-image {
	position: absolute;
	left: var(--border-size);
	z-index: 8;
}

.enemy-image {
	padding: var(--enemy-padding);
	box-sizing: border-box;
	text-align: center;
}

.enemy-image img {
	height: var(--medium-enemy-size);
	max-width: 100%;
	max-height: 100%;
	image-rendering: pixelated;
}

.enemy-image.big img {
	height: var(--large-enemy-size);
}

.enemy-image.small img {
	height: var(--small-enemy-size);
}

/* Raid-Specific */
.attack-image {
	position: absolute;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 9999 !important;
	opacity: 0.5 !important;
	transition: opacity 0.5s !important;
}

.attack-image.fadeout {
	opacity: 1 !important;
}

.attack-image.fadein {
	opacity: 0 !important;
}