@import "../common.min.css";

body {
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #eee;
    overflow: auto;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#007b80+0,80017a+100 */
    background: #007b80;
    /* Old browsers */
    background: linear-gradient(270deg, #007b80, #80017a, #007b80);
    background-size: 200vw 100vh;
    animation: BGScroll 25s linear infinite;
}

@keyframes BGScroll {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -200vw;
    }
}

#chatwrap > *,
#videowrap > *,
.navbar,
footer {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand:before {
    content: "Titty Town USA";
    font-size: 24px;
}

.navbar-brand {
    font-size: 0;
}
